.display-profile {
    background: #E0E0E0;
    box-shadow: 4px 4px 8px rgba(0, 41, 132, 0.25);
    border-radius: 8px;
}
.content {
    height: 25%;
    box-shadow: 4px 4px 8px rgba(0, 41, 132, 0.25);
    border-radius: 8px;
}